@import "variables";

main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "image"
        "texts";
    grid-template-rows: 35% 65%;
    position: relative;

    .wrapper-mobile {
        background: $darkBlue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 4rem;

        h1 {
            font-size: clamp(3.2rem, 8vw, 4rem);
            font-weight: bold;
            color: $white;
            margin-bottom: 2rem;
        }

/*        .circle {
            padding: 1.5rem;
            border: 1px solid $white;
            position: relative;
            border-radius: 50%;
            display: flex;
            justify-content: center;


            .text-around-circle {
                position: absolute;
                top: -50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white;
                font-size: clamp(.8rem, 2vw, 2rem);
            }

            .icon {
                font-size: clamp(1.5rem, 2vw, 3rem);
                color: $white;
            }
        }*/

        p {
            color: $white;
            font-size: clamp(1rem, 2vw, 2rem);
        }
    }
    /*width: 100vw;
    height: 100vh;
    // background: $darkBlue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .wrapper {
        background: $darkBlue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: clamp(2rem, 8vw, 4rem);
            font-weight: bold;
            color: $white;
        }

        span {
            padding: 1.5rem;
            aspect-ratio: 2;
            --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
            background:
                var(--_g) 0% 50%,
                var(--_g) 50% 50%,
                var(--_g) 100% 50%;
            background-size: calc(100%/3) 50%;
            animation: l3 1s infinite linear;
        }
    }*/
}

// tablet

@media screen and (min-width: 767px) and (max-width: 1024px) {
    main {
        grid-template-areas: "image texts";
        grid-template-columns: 1fr 1fr;

        .wrapper-mobile {
            padding: 2rem;
            height: 100%;

            button {
                display: none;
            }

            span {
                display: block;
                padding: clamp(1rem, 2vw, 3rem);
                aspect-ratio: 2;
                --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
                background:
                        var(--_g) 0% 50%,
                        var(--_g) 50% 50%,
                        var(--_g) 100% 50%;
                background-size: calc(100%/3) 50%;
                animation: l3 1s infinite linear;
            }
        }
    }
}

// desktop

@media screen and (min-width: 1025px) {
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}
