@import "../variables"; 

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .5rem;

    .pages_link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 2rem;

        li {
            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p {
                    font-size: clamp(.8rem, 1vw, 1rem);
                    color: $black;
                }

                .icon {
                    font-size: clamp(1.5rem, 2vw, 3rem);
                    color: $black;
                }

                &.active {

                    p {
                        color: $darkBlue;
                    }

                    .icon {
                        color: $darkBlue;
                    }
                }
            }
        }

/*        li, .link {
            padding: 0;
            margin: 0;
            background: yellowgreen;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                font-size: clamp(.8rem, 1vw, 1rem);
            }
        }*/
    }
}

/*
nav {
    background: $white;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    // max-width: fit-content;

    .user-informations {
        justify-content: space-evenly;
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;

        .wrapper-texts {
            margin: 0;

            h1 {
                font-size: 1.2rem;
                color: $black;
                font-weight: bold;
                margin: 0;
            }

            p {
                font-size: .8rem;
                color: $grayText;
                width: 100%;
                margin: 0;
            }
        }
    }

    .first-level {
        // background: orange;
        height: 100%;
        padding: 0;
        margin-top: 3rem;

        .category-title {
            color: $grayText;
        }

        li {
            // background: orange;

            .link {
                display: flex;
                margin-top: 1rem;
                padding-left: 1rem;
                font-size: clamp(.8rem, 1vw, 1rem);
                border-radius: $radius;

                .icon {
                    margin-right: 1rem;
                }

            }

            .wrapper-projects-link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .active {
                background: $lightBlue;
            }
        }

        .projects-list {
            padding-left: 2rem;

            .projects {
                    display: flex;
                    width: 100%;
                    padding: 0rem;
                    margin-top: 1rem;

                    p {
                        margin: 0;
                        font-size: .9rem;
                    }
            
                    .icon {
                        margin-right: 1rem;
                        flex: 0 0 auto;
                    }
                }
        }
    }
}*/

// tablet & desktop
@media screen and (min-width: 767px) {
    nav {
        position: relative;
    }
}