@import "../variables";

nav {
    background: pink;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user-informations {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        .wrapper-texts {
            background: orange;

            h1 {
                font-size: 1.2rem;
                color: $black;
                font-weight: bold;
            }

            p {
                font-size: .8rem;
                color: $grayText;
                width: 100%;
            }
        }
    }

    ul {
        background: red;
        height: 100%;
        padding: 0;

        li {

            .link {
                display: flex;
                background: yellowgreen;
                margin-bottom: 1rem;
                padding: 1rem;

                .icon {
                    margin-right: 1rem;
                }
            }
        }
    }
}